<%= stylesheet_link_tag "blogs" %>

  <div id='cssmenu'>
    <ul>
    <li><%=link_to 'Home', root_path %></li>
    <li><a href='#'><span>Resume</span></a></li>
    <li><%=link_to "Projects", projects_path %></li>
    <li class='active'><%=link_to "Blog", blogs_path %></li>
    <li class='last'><%=link_to "Contact", new_contact_path %></li>
    </ul>
  </div>

<h1>Listing blogs</h1>

<% @blogs.each do |blog| %>
  <div id="content">
    <div id="main">
      <div class="post">
        <h2><%= blog.title %></h2>
      <div class="post-content">
        <%= blog.body %>
      </div>

      </div>
    </div>
  </div>
<% end %>


<%= link_to 'New Blog', new_blog_path %>
