<%= render "header" %>

<div id="essentials">
  <%= image_tag("essentials.gif", :alt => "There's supposed to be a really cool illustration here") %>
</div><!--essentials-->

<div id="about">
  <section id="console-header">
    Hello, world! I'm a Full-stack Rails developer.
  </section><!--console-header-->
  <section id="top-bar"></section>
  <section id="console">
    <section id="console-text">
      <p class="question">> kayla.education</p>
      <p class="answer">=> [ "Codefellows", "University of Puget Sound" ]</p>

      <p class="question">> kayla.specialties</p>
      <p class="answer">=> ["Ruby", "Rails", "Squarespace Customization", "Zurb Foundation"]</p>

      <p class="question">> kayla.email</p>
      <p class="answer">=> "<%= mail_to "kayla@kaylahowser.com" %>"</p>

      <p class="question">> kayla.resume.download</p>
      <p class="answer">=> "<a href="https://s3-us-west-2.amazonaws.com/kaylamorrisonportfolio/Kayla_Morrison_dev_resume_web_6_3_16.pdf">kaylahowser.pdf</a>"</p>

      <p class="question">> kayla.linkedin</p>
      <p class="answer">=> "<a href="http://linkedin.com/in/kaylahowser">linkedin.com/in/kaylahowser</a>"</p>

      <p class="question">> kayla.github</p>
      <p class="answer">=> "<a href="http://github.com/kaxla">github.com/kaxla</a>"</p>

      <p class="question">> kayla.interests</p>
      <p class="answer">=> ["gardening", "caligraphy", "general being an old lady"]</p>
    </section><!--console-text-->
  </section><!--console-->
</div><!--About-->

<a name="resume"></a>
  <%= render "resume" %>

<div id="portfolio">
  <%= render 'projects/index' %>
</div><!--portfolio-->

<div id="recent-blogs">
  <div id="recent_blogs_title">Recent Blog Posts</div>
  <%= render 'blogs/mostrecent' %>
</div><!--recent blogs-->



<div id="contact">
  <%= render 'contacts/form' %>
</div><!--contact-->
