<%= stylesheet_link_tag "contacts" %>
  <div id='cssmenu'>
    <ul>
      <li><%=link_to 'Home', root_path %></li>
      <li><a href="/resume">Resume</a></li>
      <li><%=link_to "Projects", projects_path %></li>
      <li><%=link_to "Blog", blogs_path %></li>
      <li class='active'><%=link_to "Contact", new_contact_path %></li>
    </ul>
  </div>

<%= render 'form' %>
