<p id="notice"><%= notice %></p>
<%= render "welcome/header" %>

<div id="project-show">
  <div class="header">
    <%= @project.title %>
  </div><!--title-->

  <div class="project-image">
  <%= image_tag @project.project_image.url%>
  </div><!--project-image-->

  <div id="description">
    <%= markdown(@project.description) %>
  </div><!--description-->
  <div class="back">
    <%= link_to 'Back', projects_path %>
  </div><!--back-->
</div><!--project-show-->
