<p id="notice"><%= notice %></p>
  <div id='cssmenu'>
    <ul>
    <li><%=link_to 'Home', root_path %></li>
    <li><a href="/resume">Resume</a></li>
    <li class='active'><%=link_to "Projects", projects_path %></li>
    <li><%=link_to "Blog", blogs_path %></li>
    <li class='last'><%=link_to "Contact", new_contact_path %></li>
    </ul>
  </div>

<div id="project-show">
  <div class="header">
    <%= @project.title %>
  </div><!--title-->

  <div class="project-image">
  <%= image_tag @project.project_image.url%>
  </div><!--project-image-->

  <div id="description">
    <%= markdown(@project.description) %>
  </div><!--description-->
  <div class="back">
    <%= link_to 'Back', projects_path %>
  </div><!--back-->
</div><!--project-show-->
