<p id="notice"><%= notice %></p>
<%= render "welcome/header" %>

<div id="project-show">
  <div class="header">
    <%= @project.title %>
  </div><!--title-->

<!--   <div class="project-image">
    <%= image_tag @project.project_image.url%>
  </div><!--project-image-->

  <div id="description">
    <%= markdown(@project.description) %>
  </div><!--description-->

  <a href="/projects">
    <div class="back">
      Back
    </div><!--back-->
  </a>
</div><!--project-show-->
