<!DOCTYPE html>
<html>
<head>
  <title>Kayla Howser</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans|Droid+Sans+Mono|Josefin+Sans:300' rel='stylesheet' type='text/css'>
</head>
<body>

<%= yield %>

<div id="footer">
  <div id="copyright">
    &copy; <%= Time.now.year %> Kayla Howser
  <div class="social">
    Hang out with me on the internet: <a href="http://github.com/kaxla">Github</a> | <a href="http://linkedin.com/in/kaylahowser">LinkedIn</a> | <a href="http://twitter.com/kaylamorrison">Twitter</a>
  </div>
  <div id="hallie">
    Artwork by the lovely <a href="http://cargocollective.com/halliebateman">Hallie Bateman</a>
  </div>
</div>

</body>
</html>
